<p>newpolitique works!</p>
<p>
Parbalkis | 10 Octobre 2020 à 22:35🔊 Écoutez l'article
Le ministère de la Santé a publié le tableau habituel du bilan du Coronavirus. La ligne habituelle où on donne le
nombre de nouveaux cas
indique qu’il y a 3137 nouvelles infections entre le 8 et le 9 octobre.
On remarque aussi qu’il y a une nouvelle ligne : « nombre de cas enregistrés le 2 et le 4 octobre et déclarés le 9 octobre » : 1223.
Le nombre des cas déclarés entre le 2 et le 4 octobre est normalement inclus dans les 3160 nouveaux  déclarés.
La vérité est que le nombre de nouveaux cas est 4360 et non 3160 puisque:
le bilan publié par le ministère de la Santé le jeudi 8 octobre annonce 26.899 cas depuis le début de l’épidémie
Le bilan publié aujourd’hui annonce 31.259 cas depuis le début de l’épidémie
31 259 ‐ 26 899 = 4360 et non 3160
  Taux de positivité faux aussi ? 49% et non 35% ?</p>
